*{
  margin: 0px 0px;
	padding: 0px;
	border: 0px;
  background-color: #8ACBCE;
}

.div-1{
  background-color: #FFFFFF;
  display: flex;
  height: 100vh;
  width: 85vh;
  border-radius: 36px 0px 0px 36px ;
 }

.container{
  display: flex;
  flex-direction: row;
  margin-left: 400px;
}
